<%= form_for(tag_mapping) do |f| %>
  <% if tag_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_mapping.errors.count, "error") %> prohibited this tag_mapping from being saved:</h2>

      <ul>
      <% tag_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transcription_id %>
    <%= f.text_field :transcription_id %>
  </div>

  <div class="field">
    <%= f.label :tag_id %>
    <%= f.text_field :tag_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
