<p id="notice"><%= notice %></p>

<h1>Tag Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Transcription</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_mappings.each do |tag_mapping| %>
      <tr>
        <td><%= tag_mapping.transcription %></td>
        <td><%= tag_mapping.tag %></td>
        <td><%= link_to 'Show', tag_mapping %></td>
        <td><%= link_to 'Edit', edit_tag_mapping_path(tag_mapping) %></td>
        <td><%= link_to 'Destroy', tag_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag Mapping', new_tag_mapping_path %>
