<p id="notice"><%= notice %></p>

<p>
  <strong>Transcription:</strong>
  <%= @tag_mapping.transcription %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tag_mapping.tag %>
</p>

<%= link_to 'Edit', edit_tag_mapping_path(@tag_mapping) %> |
<%= link_to 'Back', tag_mappings_path %>
