<%= form_for(transcription) do |f| %>
  <% if transcription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transcription.errors.count, "error") %> prohibited this transcription from being saved:</h2>

      <ul>
      <% transcription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-bottom: 5px">
    <%= f.text_area :transcription, size: "20x5", class: 'form-control' %>
  </div>

  <br>

  <div class="row">
    <div class="col-md-9">
    <table class="table table-striped">
      <tbody>
        <%= render @transcription.submissions%>
      </tbody>
    </table>
    </div>
    <div class="col-md-3">
      <%= f.fields_for :tags do |builder| %>
        <%= render "tag_fields", f: builder %>
      <% end %>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
<% end %>
