<tr>
  <td style="width: 150px"><img src="<%= transcription.get_image_url %>" width="450" height="150"></td>
  <td style="width: 99%">
  	<p><%= transcription.transcription %></p>
  	<table class="table table-striped" style="display: block;height: 120px;overflow-y: scroll;">
  	    <%= render transcription.submissions %>
  	</table>
  </td>
  <td>
  	<%= link_to transcription.status(), lock_transcription_path(transcription.id), class: "btn btn-primary", style: "width:85px; margin-bottom: 5px;" %>
  	<%= link_to 'Show', transcription, class: "btn btn-primary", style: "width:85px; margin-bottom: 5px;" %>
  	<%= link_to 'Edit', edit_transcription_path(transcription), class: "btn btn-primary", style: "width:85px" %>
  </td>
</tr>