<p id="notice"><%= notice %></p>

<h1 class="text-center">Transcriptions</h1>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @transcriptions, :container => false %>
</div>
<table class="table table-striped">
  <tbody>
    <%= render @transcriptions %>
  </tbody>
</table>

<%= will_paginate %>

