<h1 class="text-center"><%= @page.title %></h1>
<h3 class="text-center">(<%= @page.slug %>)</h3>

<div class="text-center">
  <%= simple_format(@page.description) %>
</div>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
