<p id="notice"><%= notice %></p>

<h1 class="text-center">Submissions</h1>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @submissions, :container => false %>
</div>
<table class="table table-striped">
  <tbody>
  	<% @submissions.each do |submission| %>
  	<tr>
  	  <td style="width: 150px"><img src="<%= submission.transcription.get_image_url %>" width="450" height="150"></td>
	  <td style="width:100%;"><%= submission.submission %></td>
	  <td>
	    <%= link_to 'Select', select_submission_path(submission), method: :get, data: { confirm: 'Are you sure?' }, 
				class: "btn btn-md btn-success transcription-select", style: "display:inline-block" %>
	  </td>
	  <td>
	    <%= link_to 'Delete', submission_path(submission), method: :delete, data: { confirm: 'Are you sure?' },
				class: "btn btn-md btn-danger transcription-delete", style: "display:inline-block" %>
	  </td>
	</tr>
	<% end %>
  </tbody>
</table>