<p id="notice"><%= notice %></p>

<p>
  <strong>Pattern:</strong>
  <%= @pattern.pattern %>
</p>

<p>
  <strong>Page:</strong>
  <%= @pattern.page %>
</p>

<p>
  <strong>Side:</strong>
  <%= @pattern.side %>
</p>

<p>
  <strong>Offset:</strong>
  <%= @pattern.offset %>
</p>

<table class="table table-striped">
  <thead>
	<th>Image</th>
	<th>Transcription</th>
	<th>Locked</th>
  </thead>

  <tbody>
    <%= render @pattern.transcriptions %>
  </tbody>
</table>

<%= link_to 'Back', patterns_path %>
