<p id="notice"><%= notice %></p>

<p>
  <strong>Pattern:</strong>
  <%= @pattern.pattern %>
</p>

<p>
  <strong>Page:</strong>
  <%= @pattern.page %>
</p>

<p>
  <strong>Side:</strong>
  <%= @pattern.side %>
</p>

<p>
  <strong>Offset:</strong>
  <%= @pattern.offset %>
</p>

<%= link_to 'Back', patterns_path %>
