<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @resource.page %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @resource.author %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
