<!DOCTYPE html>
<html>
  <head>
    <title>Book of Fate</title>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Last compiled and minified JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': 'reload' %>
    <%= yield(:twitter) %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header_public' %>
      <br><br>
    </header>
    <div class="container-fluid">
      <div class="row">
        <p><%= flash[:notice] %></p>
        <h1 id='title'>choose a question</h1>
      </div>
      <div id='question' class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 question">
          <%= yield(:question) %>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <br>
      <div class="row">
        <div id='geomancer' class='col-xs-6 text-center'>
              <%= yield(:geomancer) %>
        </div>
        <div id='results' class='col-xs-6 text-center'>
              <%= yield(:results) %>
        </div>
      </div>
      <div id='your-fortune' class="row">
        <div id='pattern' class='col-xs-6'>
          <%= yield(:pattern) %>
        </div>
        <div id='fortune-box' class='col-xs-6 fill'>
          <%= yield(:fortune) %>
        </div>
      </div>
      &nbsp;
      <div class="row">
        <div id="transcription-box" class="center-div2 col-xs-12">
          <%= yield(:transcription) %>
        </div>
      </div>
    </div>
  </body>
</html>
